#ys-nav {
    position: fixed;
    z-index: 100;
    margin-top: -116px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#ys-nav.right {
    right: 47px;
}
#ys-nav.left {
    left: 47px;
}
#ys-nav ul {
  margin: 0;
  padding: 0;
}
#ys-nav ul li{
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.ys-slidesNav ul li {
    display: inline-block;
}
#ys-nav ul li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#ys-nav ul li a.active span,
#ys-nav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#ys-nav ul li a span{
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    border: 2px solid #0099ff;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#ys-nav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#ys-nav ul li .ys-tooltip {
    position: absolute;
    top: 0px;
    color: #0099ff;
    font-size: 16px;
    font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    font-smoothing:antialiased;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#ys-nav ul li:hover .ys-tooltip,
#ys-nav.ys-show-active a.active + .ys-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.3s ease-in;
    width: auto;
    opacity: 1;
}
#ys-nav ul li .ys-tooltip.right {
    right: 20px;
}
#ys-nav ul li .ys-tooltip.left {
    left: 20px;
}